# general files to exclude
.DS_Store

# All folders that are created by Jupyter Notebooks. Not needed on the repo.
.ipynb_checkpoints
.local
.cache
.coverage
.jupyter
.ipython
.config

# Data from NLTK Library... Do not push
nltk_data/

# External unnecessary folders
.conda
.plotly
.texmf-var